.cover__link {
  z-index: 1;
  position: relative;

  height: 57.8vw;
  max-height: 925px;

  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding-top: 100px;
  padding-bottom: 100px;

  color: var(--color-text-main);

  text-decoration: none;
}

.cover__link::after {
  z-index: -1;
  content: '';

  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-color: var(--color-bg-main);
  opacity: 0.3;

  transition: opacity 0.3s ease-in-out;
}

.cover__link:hover::after {
  opacity: 0.8;
}

@media screen and (max-width: 1279px) {
  .cover__link {
    height: 62.5vw;
    min-height: 200px;
  }
}

@media screen and (max-width: 1023px) {
  .cover__link {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media screen and (max-width: 767px) {
  .cover__link {
    padding: 33px 16px;
  }
}

