.place__image-container {
  position: relative;
  align-self: start;
  width: 100%;
  padding-bottom: 100%;
}

@media screen and (max-width: 767px){
  .place__image-container {
    margin-left: -16px;
    margin-bottom: 32px;
    width: calc(100% + 32px);
    padding-bottom: calc(100% + 32px);
  }
}
