/*Colors*/
/*https://www.htmlcsscolor.com/hex/334482*/

.page {
  min-width: 320px;

  padding-top: 28px;
  padding-bottom: 24px;

  color: var(--color-text-main);

  font-family: 'Inter', 'Arial', sans-serif;
  font-weight: 400;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;

  background-color: var(--color-bg-main);
}

@media screen and (max-width: 767px) {
  .page {
    padding-top: 16px;
  }
}
